# Working with Dates and Times

In [1]:
import pandas as pd
import datetime as dt

# Python datetime Module

In [5]:
someday = dt.date(2016, 4, 12) # constructor
someday

datetime.date(2016, 4, 12)

In [7]:
someday.year
someday.month
someday.day

12

In [8]:
dt.datetime(2010,1,10) # includes hrs,min

datetime.datetime(2010, 1, 10, 0, 0)

In [9]:
dt.datetime(2010,1,10, 17,13,57)

datetime.datetime(2010, 1, 10, 17, 13, 57)

In [11]:
str(dt.datetime(2010, 1, 10, 17, 13, 57))

'2010-01-10 17:13:57'

# Pandas Timestamp Object

In [13]:
pd.Timestamp('2016-03-31')

Timestamp('2016-03-31 00:00:00')

In [14]:
pd.Timestamp('2016/03/31')

Timestamp('2016-03-31 00:00:00')

In [15]:
pd.Timestamp('03/31/2014')

Timestamp('2014-03-31 00:00:00')

In [16]:
pd.Timestamp("2020-03-08 08:35:15")

Timestamp('2020-03-08 08:35:15')

# Pandas DateTimeIndex Object

Collection of Timestamps

In [18]:
dates = ['2016-01-02', '2016-04-12', '2009-09-07']
dtIndex = pd.DatetimeIndex(dates)
dtIndex

DatetimeIndex(['2016-01-02', '2016-04-12', '2009-09-07'], dtype='datetime64[ns]', freq=None)

In [19]:
# Create a Series
values = [100, 200, 300]
pd.Series(data = values, index = dtIndex)

2016-01-02    100
2016-04-12    200
2009-09-07    300
dtype: int64

# pd.to_datetime()

In [20]:
pd.to_datetime('2011-04-19')

Timestamp('2011-04-19 00:00:00')

In [21]:
pd.to_datetime( dt.datetime(2015,1,1,14,35,20) )

Timestamp('2015-01-01 14:35:20')

In [22]:
pd.to_datetime( ['2016-01-02', '2016/04/12', '2009', 'July 4th, 1996'] )

DatetimeIndex(['2016-01-02', '2016-04-12', '2009-01-01', '1996-07-04'], dtype='datetime64[ns]', freq=None)

In [24]:
times = pd.Series( ['2016-01-02', '2016/04/12', '2009', 'July 4th, 1996'] ) # a series of srings
times

0        2016-01-02
1        2016/04/12
2              2009
3    July 4th, 1996
dtype: object

In [25]:
pd.to_datetime(times)  # Series of datetimes

0   2016-01-02
1   2016-04-12
2   2009-01-01
3   1996-07-04
dtype: datetime64[ns]

In [27]:
bad_dates = pd.Series(['2016-01-02', '2016/04/12', 'Hello', '1996-02-31'])
bad_dates

0    2016-01-02
1    2016/04/12
2         Hello
3    1996-02-31
dtype: object

In [28]:
pd.to_datetime(bad_dates)

ParserError: Unknown string format: Hello

In [29]:
pd.to_datetime(bad_dates, errors='coerce') # Set NaT for bad data (not NaN!)

0   2016-01-02
1   2016-04-12
2          NaT
3          NaT
dtype: datetime64[ns]

In [30]:
#From Unix time
pd.to_datetime([1349720105, 1349730105,1344720105, 1359720105,], unit='s')  # in secs

DatetimeIndex(['2012-10-08 18:15:05', '2012-10-08 21:01:45',
               '2012-08-11 21:21:45', '2013-02-01 12:01:45'],
              dtype='datetime64[ns]', freq=None)

# pd.date_range() : Range of Dates

In [37]:
times = pd.date_range(start="2016-01-01", end="2016-01-10", freq='1D') # at least 2 params needed; here: each day
times

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06', '2016-01-07', '2016-01-08',
               '2016-01-09', '2016-01-10'],
              dtype='datetime64[ns]', freq='D')

In [38]:
type(times)

pandas.core.indexes.datetimes.DatetimeIndex

In [39]:
times[0]

Timestamp('2016-01-01 00:00:00', freq='D')

In [40]:
# start - end - frequency

pd.date_range(start="2016-01-01", end="2016-01-10", freq='B')  # business days!

DatetimeIndex(['2016-01-01', '2016-01-04', '2016-01-05', '2016-01-06',
               '2016-01-07', '2016-01-08'],
              dtype='datetime64[ns]', freq='B')

In [41]:
pd.date_range(start="2016-01-01", end="2016-01-15", freq='W-SUN')  # once a week, starting on Sunday

DatetimeIndex(['2016-01-03', '2016-01-10'], dtype='datetime64[ns]', freq='W-SUN')

In [42]:
pd.date_range(start="2016-01-01", end="2016-01-15", freq='H') # hourly

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 01:00:00',
               '2016-01-01 02:00:00', '2016-01-01 03:00:00',
               '2016-01-01 04:00:00', '2016-01-01 05:00:00',
               '2016-01-01 06:00:00', '2016-01-01 07:00:00',
               '2016-01-01 08:00:00', '2016-01-01 09:00:00',
               ...
               '2016-01-14 15:00:00', '2016-01-14 16:00:00',
               '2016-01-14 17:00:00', '2016-01-14 18:00:00',
               '2016-01-14 19:00:00', '2016-01-14 20:00:00',
               '2016-01-14 21:00:00', '2016-01-14 22:00:00',
               '2016-01-14 23:00:00', '2016-01-15 00:00:00'],
              dtype='datetime64[ns]', length=337, freq='H')

In [43]:
pd.date_range(start="2016-01-01", end="2016-01-15", freq='6H') # every 6hrs

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 06:00:00',
               '2016-01-01 12:00:00', '2016-01-01 18:00:00',
               '2016-01-02 00:00:00', '2016-01-02 06:00:00',
               '2016-01-02 12:00:00', '2016-01-02 18:00:00',
               '2016-01-03 00:00:00', '2016-01-03 06:00:00',
               '2016-01-03 12:00:00', '2016-01-03 18:00:00',
               '2016-01-04 00:00:00', '2016-01-04 06:00:00',
               '2016-01-04 12:00:00', '2016-01-04 18:00:00',
               '2016-01-05 00:00:00', '2016-01-05 06:00:00',
               '2016-01-05 12:00:00', '2016-01-05 18:00:00',
               '2016-01-06 00:00:00', '2016-01-06 06:00:00',
               '2016-01-06 12:00:00', '2016-01-06 18:00:00',
               '2016-01-07 00:00:00', '2016-01-07 06:00:00',
               '2016-01-07 12:00:00', '2016-01-07 18:00:00',
               '2016-01-08 00:00:00', '2016-01-08 06:00:00',
               '2016-01-08 12:00:00', '2016-01-08 18:00:00',
               '2016-01-09 00:00:00', '2016-01-09 06:00:00',
               '2016-01-09 12:00:00', '2016-01-09 18:00:00',
               '2016-01-10 00:00:00', '2016-01-10 06:00:00',
               '2016-01-10 12:00:00', '2016-01-10 18:00:00',
               '2016-01-11 00:00:00', '2016-01-11 06:00:00',
               '2016-01-11 12:00:00', '2016-01-11 18:00:00',
               '2016-01-12 00:00:00', '2016-01-12 06:00:00',
               '2016-01-12 12:00:00', '2016-01-12 18:00:00',
               '2016-01-13 00:00:00', '2016-01-13 06:00:00',
               '2016-01-13 12:00:00', '2016-01-13 18:00:00',
               '2016-01-14 00:00:00', '2016-01-14 06:00:00',
               '2016-01-14 12:00:00', '2016-01-14 18:00:00',
               '2016-01-15 00:00:00'],
              dtype='datetime64[ns]', freq='6H')

In [47]:
pd.date_range(start="2016-01-01", end="2016-12-15", freq='M') # Month-ends

DatetimeIndex(['2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30',
               '2016-05-31', '2016-06-30', '2016-07-31', '2016-08-31',
               '2016-09-30', '2016-10-31', '2016-11-30'],
              dtype='datetime64[ns]', freq='M')

In [48]:
pd.date_range(start="2016-01-01", end="2016-12-15", freq='MS') # Month-starts

DatetimeIndex(['2016-01-01', '2016-02-01', '2016-03-01', '2016-04-01',
               '2016-05-01', '2016-06-01', '2016-07-01', '2016-08-01',
               '2016-09-01', '2016-10-01', '2016-11-01', '2016-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [49]:
pd.date_range(start="2016-01-01", end="2050-12-15", freq='A') # Year-ends

DatetimeIndex(['2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31',
               '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31', '2026-12-31', '2027-12-31',
               '2028-12-31', '2029-12-31', '2030-12-31', '2031-12-31',
               '2032-12-31', '2033-12-31', '2034-12-31', '2035-12-31',
               '2036-12-31', '2037-12-31', '2038-12-31', '2039-12-31',
               '2040-12-31', '2041-12-31', '2042-12-31', '2043-12-31',
               '2044-12-31', '2045-12-31', '2046-12-31', '2047-12-31',
               '2048-12-31', '2049-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [53]:
# start - how many

pd.date_range(start="2012-09-01", periods=25, freq='D') #periods: how many dates will be generated

DatetimeIndex(['2012-09-01', '2012-09-02', '2012-09-03', '2012-09-04',
               '2012-09-05', '2012-09-06', '2012-09-07', '2012-09-08',
               '2012-09-09', '2012-09-10', '2012-09-11', '2012-09-12',
               '2012-09-13', '2012-09-14', '2012-09-15', '2012-09-16',
               '2012-09-17', '2012-09-18', '2012-09-19', '2012-09-20',
               '2012-09-21', '2012-09-22', '2012-09-23', '2012-09-24',
               '2012-09-25'],
              dtype='datetime64[ns]', freq='D')

In [54]:
pd.date_range(start="2012-09-01", periods=25, freq='W')

DatetimeIndex(['2012-09-02', '2012-09-09', '2012-09-16', '2012-09-23',
               '2012-09-30', '2012-10-07', '2012-10-14', '2012-10-21',
               '2012-10-28', '2012-11-04', '2012-11-11', '2012-11-18',
               '2012-11-25', '2012-12-02', '2012-12-09', '2012-12-16',
               '2012-12-23', '2012-12-30', '2013-01-06', '2013-01-13',
               '2013-01-20', '2013-01-27', '2013-02-03', '2013-02-10',
               '2013-02-17'],
              dtype='datetime64[ns]', freq='W-SUN')

In [55]:
# end - how many

pd.date_range( end='1999-12-31', periods=20, freq='D')

DatetimeIndex(['1999-12-12', '1999-12-13', '1999-12-14', '1999-12-15',
               '1999-12-16', '1999-12-17', '1999-12-18', '1999-12-19',
               '1999-12-20', '1999-12-21', '1999-12-22', '1999-12-23',
               '1999-12-24', '1999-12-25', '1999-12-26', '1999-12-27',
               '1999-12-28', '1999-12-29', '1999-12-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='D')

# .dt Accessor

In [56]:
dates = pd.date_range(start='2000-01-01', end='2010-12-31', freq='24D')
dates

DatetimeIndex(['2000-01-01', '2000-01-25', '2000-02-18', '2000-03-13',
               '2000-04-06', '2000-04-30', '2000-05-24', '2000-06-17',
               '2000-07-11', '2000-08-04',
               ...
               '2010-05-20', '2010-06-13', '2010-07-07', '2010-07-31',
               '2010-08-24', '2010-09-17', '2010-10-11', '2010-11-04',
               '2010-11-28', '2010-12-22'],
              dtype='datetime64[ns]', length=168, freq='24D')

In [58]:
s = pd.Series(dates)
s

0     2000-01-01
1     2000-01-25
2     2000-02-18
3     2000-03-13
4     2000-04-06
         ...
163   2010-09-17
164   2010-10-11
165   2010-11-04
166   2010-11-28
167   2010-12-22
Length: 168, dtype: datetime64[ns]

In [59]:
# Extract Days 
s.dt.day  # returns a new Series

0       1
1      25
2      18
3      13
4       6
       ..
163    17
164    11
165     4
166    28
167    22
Length: 168, dtype: int64

In [60]:
# Extract Months 
s.dt.month

0       1
1       1
2       2
3       3
4       4
       ..
163     9
164    10
165    11
166    11
167    12
Length: 168, dtype: int64

In [61]:
# Extract weekdays 
s.dt.weekday_name

0       Saturday
1        Tuesday
2         Friday
3         Monday
4       Thursday
         ...
163       Friday
164       Monday
165     Thursday
166       Sunday
167    Wednesday
Length: 168, dtype: object

In [63]:
# check if a date is a quarter start (and a lot of other .is_something filters) 
mask = s.dt.is_quarter_start
mask

0       True
1      False
2      False
3      False
4      False
       ...
163    False
164    False
165    False
166    False
167    False
Length: 168, dtype: bool

In [64]:
s[mask]

0     2000-01-01
19    2001-04-01
38    2002-07-01
137   2009-01-01
dtype: datetime64[ns]

# Import Financial Data Set with pandas_datareader

In [1]:
import pandas as pd
import datetime as dt

from pandas_datareader import data

In [32]:
company = "MSFT"
start_date = "2010-01-01"
end_date = "2020-12-31" 

stocks = data.DataReader(name=company, data_source="yahoo", start=start_date, end=end_date)
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  24.360727
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  24.368599
2010-01-06  31.08  30.520000  30.879999  30.770000  58182400.0  24.219046

In [33]:
stocks.index

DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
               '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
               '2010-01-14', '2010-01-15',
               ...
               '2020-01-13', '2020-01-14', '2020-01-15', '2020-01-16',
               '2020-01-17', '2020-01-21', '2020-01-22', '2020-01-23',
               '2020-01-24', '2020-01-27'],
              dtype='datetime64[ns]', name='Date', length=2533, freq=None)

In [34]:
stocks.axes

[DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
                '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
                '2010-01-14', '2010-01-15',
                ...
                '2020-01-13', '2020-01-14', '2020-01-15', '2020-01-16',
                '2020-01-17', '2020-01-21', '2020-01-22', '2020-01-23',
                '2020-01-24', '2020-01-27'],
               dtype='datetime64[ns]', name='Date', length=2533, freq=None),
 Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')]

In [35]:
# Selecting Rows

stocks.loc["2014-03-04"]

High         3.848000e+01
Low          3.807000e+01
Open         3.820000e+01
Close        3.841000e+01
Volume       2.680240e+07
Adj Close    3.381552e+01
Name: 2014-03-04 00:00:00, dtype: float64

In [36]:
stocks.loc["2014-03-04" : "2015-03-04"]

                 High        Low       Open      Close      Volume  Adj Close
Date
2014-03-04  38.480000  38.070000  38.200001  38.410000  26802400.0  33.815521
2014-03-05  38.270000  37.930000  38.250000  38.110001  20520100.0  33.551414
2014-03-06  38.240002  37.889999  38.139999  38.150002  23582200.0  33.586628
2014-03-07  38.360001  37.689999  38.279999  37.900002  26591600.0  33.366528
2014-03-10  38.009998  37.720001  37.990002  37.820000  19006600.0  33.296108
...               ...        ...        ...        ...         ...        ...
2015-02-26  44.230000  43.889999  43.990002  44.060001  28957300.0  39.836742
2015-02-27  44.200001  43.660000  44.130001  43.849998  33807700.0  39.646862
2015-03-02  44.189999  43.549999  43.669998  43.880001  31924000.0  39.673988
2015-03-03  43.830002  43.090000  43.560001  43.279999  31748600.0  39.131504
2015-03-04  43.209999  42.880001  43.009998  43.060001  25748700.0  38.932587

[253 rows x 6 columns]

In [37]:
birthdays = pd.date_range(start="1962-07-24", end="2020-12-31", freq=pd.DateOffset(years=1))
birthdays

DatetimeIndex(['1962-07-24', '1963-07-24', '1964-07-24', '1965-07-24',
               '1966-07-24', '1967-07-24', '1968-07-24', '1969-07-24',
               '1970-07-24', '1971-07-24', '1972-07-24', '1973-07-24',
               '1974-07-24', '1975-07-24', '1976-07-24', '1977-07-24',
               '1978-07-24', '1979-07-24', '1980-07-24', '1981-07-24',
               '1982-07-24', '1983-07-24', '1984-07-24', '1985-07-24',
               '1986-07-24', '1987-07-24', '1988-07-24', '1989-07-24',
               '1990-07-24', '1991-07-24', '1992-07-24', '1993-07-24',
               '1994-07-24', '1995-07-24', '1996-07-24', '1997-07-24',
               '1998-07-24', '1999-07-24', '2000-07-24', '2001-07-24',
               '2002-07-24', '2003-07-24', '2004-07-24', '2005-07-24',
               '2006-07-24', '2007-07-24', '2008-07-24', '2009-07-24',
               '2010-07-24', '2011-07-24', '2012-07-24', '2013-07-24',
               '2014-07-24', '2015-07-24', '2016-07-24', '2017-07-24',
               '2018-07-24', '2019-07-24', '2020-07-24'],
              dtype='datetime64[ns]', freq='<DateOffset: years=1>')

In [38]:
mask = stocks.index.isin(birthdays)
mask

array([False, False, False, ..., False, False, False])

In [39]:
stocks.loc[mask]

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2012-07-24,29.360001,28.900000,29.240000,29.150000,47723300.0,24.361153
2013-07-24,32.189999,31.889999,32.040001,31.959999,52803100.0,27.523481
2014-07-24,45.000000,44.320000,44.930000,44.400002,30725300.0,39.364784
2015-07-24,46.320000,45.799999,45.910000,45.939999,32333200.0,41.806484
2017-07-24,73.750000,73.129997,73.529999,73.599998,21394800.0,70.561241
2018-07-24,108.820000,107.260002,108.570000,107.660004,26316600.0,105.230026
2019-07-24,140.740005,138.850006,138.899994,140.720001,20738300.0,139.777344

# Timestamp Object Attributes

In [40]:
someday = stocks.index[500]
someday

Timestamp('2011-12-27 00:00:00')

In [41]:
someday.day
someday.month
someday.year

2011

In [42]:
someday.weekday_name

D:\Anaconda3\envs\pandas_udemy\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: `weekday_name` is deprecated and will be removed in a future version. Use `day_name` instead
  """Entry point for launching an IPython kernel.

'Tuesday'

In [43]:
# Add a new column: weekday names

stocks.insert(loc=0,   # where to insert                  
              column="Day of Week", # name of the new column
              value=stocks.index.weekday_name)   # a new series to place into new column
stocks.head()

,Day of Week,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,
2010-01-04,Monday,31.100000,30.590000,30.620001,30.950001,38409100.0,24.360727
2010-01-05,Tuesday,31.100000,30.639999,30.850000,30.959999,49749600.0,24.368599
2010-01-06,Wednesday,31.080000,30.520000,30.879999,30.770000,58182400.0,24.219046
2010-01-07,Thursday,30.700001,30.190001,30.629999,30.450001,50559700.0,23.967175
2010-01-08,Friday,30.879999,30.240000,30.280001,30.660000,51197400.0,24.132469

# .truncate() Method

In [44]:
stocks = data.DataReader(name=company, data_source="yahoo", start=start_date, end=end_date)
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  24.360727
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  24.368599
2010-01-06  31.08  30.520000  30.879999  30.770000  58182400.0  24.219046

In [48]:
# Drop all outside an interval
stocks.truncate(before="2011-02-08", after="2012-02-08")

                 High        Low       Open      Close      Volume  Adj Close
Date
2011-02-08  28.340000  28.049999  28.100000  28.280001  34904200.0  22.722765
2011-02-09  28.260000  27.910000  28.190001  27.969999  52905100.0  22.473688
2011-02-10  27.940001  27.290001  27.930000  27.500000  76672400.0  22.096046
2011-02-11  27.809999  27.070000  27.760000  27.250000  83939700.0  21.895170
2011-02-14  27.270000  26.950001  27.209999  27.230000  56766200.0  21.879101
...               ...        ...        ...        ...         ...        ...
2012-02-02  30.170000  29.709999  29.900000  29.950001  52223300.0  24.703932
2012-02-03  30.400000  30.090000  30.139999  30.240000  41838500.0  24.943132
2012-02-06  30.219999  29.969999  30.040001  30.200001  28039700.0  24.910133
2012-02-07  30.490000  30.049999  30.150000  30.350000  39242400.0  25.033861
2012-02-08  30.670000  30.219999  30.260000  30.660000  49659100.0  25.289558

[253 rows x 6 columns]